{
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "es6": true
    },
    "plugins": [],
    "ecmaFeatures": {
        "destructuring": true,
        "spread": true,
        "experimentalObjectRestSpread": true
    },
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": 0,

        "curly": 2,
        "guard-for-in": 2,
        "no-void": 2,
        "radix": 2,
        "wrap-iife": 2,
        "no-alert": 2,
        "no-console": 2,
        "no-unused-vars": 2,
        "no-extra-semi": 2,

        "no-use-before-define": [2, "nofunc"],
        "no-redeclare": 0,
        "no-undef": 2,
        "object-curly-spacing": [2, "always"],

        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "indent": [2, 4, {"SwitchCase": 1}], // NB! Disabled at the moment because of extra indentation in browserify branch
        "linebreak-style": [2, "unix"],
        "quotes": 0,
        "space-infix-ops": 0,
        "no-underscore-dangle": 0,
        "one-var": [2, "never"],
        "operator-linebreak": [2, "after"],
        "keyword-spacing": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [2, "never"],
        "spaced-comment": 2,
        "strict": [2, "global"],

        "arrow-spacing": 2,
        "constructor-super": 2,
        "no-const-assign": 2,
        "no-duplicate-imports": 2,
        "no-this-before-super": 2,
        "no-useless-constructor": 2,
        "no-var": 2,
        "prefer-const": 2,
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "require-yield": 2,

        "no-bitwise": 2,
        "max-len": [2, 205, 4],
        "arrow-parens": ["error", "as-needed"],
    }
}
