language: node_js
node_js:
  - "6"
cache:
  directories:
  - node_modules
deploy:
  provider: npm
  email: "bsideup@gmail.com"
  api_key:
    secure: bpZJzciIWGkOvssbAbrFj3EtMYTaomnd1uIkfZ88papRjWsCEO+QAvoKxMnIDsmGV7gwUGF2NW+uyzILU6TbZqyFmgFVmx49Wg0yVLPVIdBazQICEF2V/YEmZ8oeBYbV0ViksAbllfiffOYXevwZQVGaXZ2KZFMXcv/gFSqgcP5nT4uu1ijB+4Hy1mdlplnoWKhGO6rUHupyz7+ibFr6GGwuDHsxokzPFri9hzrXkO9xJ5g5fx/TFzWmIm8SUocJv92phJz4Cu7vpGppunO3XGCTm9wsHOhstwmYWZ6Da3qxpIW4kJk+Lr7hPvwGmgeblv6YfdGI/P7BaZ3gdBuaXTqie91IPnPGdwO2+yVXxoLByYOwEXkXoFbDebeNqD6E1rHcH2bTaPVrQNVam/lxyIrKFAkLBF0SMV42k2bhWvwmy+wc9ICxroq0uSylzmJ44hrEQpj1yAhestZId/R9ck9rXiwTCt2UMCXm13kUh/a4vrelFj5l9HKRBypv1hFK/t5I8GU5J6ihVWVJbZ/tq9MDuXIpAy93j47ZJb3QsqO/zPbGB+OS+25bit9HfI6l5kkvcCGqlRUwlXKdgaREtY5naGbidEbv8TVuhNg3ca1XVHLSR0VZ/OWPt3GWrDbsDECc50gICzJ9OF9Fv6Z/UyTmUeLykG+1qN0ydvqECGI=
  on:
      tags: true
